*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}
.singin-form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    flex-basis:50%;
    text-align: center;
}
.form h1{
    color:#455a64;
}
.form h3{
    margin:10px 0px;
    color:#78909c;
}
.dashboard-container{
    width:100%;
}
.dashboard-row{
    display:flex;
}
.dashboard-menu{
    flex-basis: 25%;
    padding:10px;
    border-right: 1px solid #455a64;
}
.dashboard-body{
    flex-basis:80%;
    padding:10px;
}
.table{
    margin-top:20px;
}
.heading-row{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.heading-row h2{
    color:#455a64;
}
.top-menu .logo h2{
    color:#455a64;
    text-transform:uppercase;
}
.top-menu{
    padding:20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #E5E7E9;
}
.dashboard-graph-row{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.graph{
    margin:10px;
}
.navigation{
    display:none;
}
@media(max-width:992px){
    .dashboard-menu{
       display:none;
    }
    .dashboard-body{
        flex-basis:100%;
    }
    .navigation{
        display:initial;
    }
}